/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: black;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}

/*--------Section Styles---------*/

/* Header Menu */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index:1;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 1.2s;
}
.nav a:hover {
  color: white
}


/* header and header image properties */

header {
  text-align: center;
  background: url('20150424_161936-small.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}


/* INDEX PAGE ONLY - Image in the center of the header image */

header .profile-image1 {
  margin-top: 50px;
  width: 163px;
  height: 200px;
  border-radius: 5%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image1:hover {
  transform: scale(1.2);
}



/* ALL PAGES - Image in the center of the header image */

header .profile-imageALL {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-imageALL:hover {
  transform: scale(1.2) rotate(30deg);
}



.tag {
  background-color: gray;
  color: white;
  padding: 10px;
  border: solid white;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.tag:hover {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  transform: scale(1.1)
}
.location {
  background-color: teal;
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.card:hover {
  border-color: teal;
  transform: scale(1.03)
}
.card0 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 700px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card1 {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 700px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card1:hover {
  border-color: teal;
  transform: scale(1.03)
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li:hover {
  color:#0399ff;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
.skills li:nth-child(odd):hover {
  color:#ff9904;
}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

.copyright:hover {
  color:white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.2;
  transition: all .25s;
}

a.linkedin {
  background-image: url('linkedin.svg');
}
a.github {
  background-image: url('github.svg');
}
a.social:hover {
  opacity: 1;
  transform:scale(1.3);
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  
}

/* adds and updates*/
  h3 {
    color:blue;
    letter-spacing:1px;
  }
.card-title0 {
  text-align:center;
  color:white;
  border: solid black 3px;
  background:blue;
  border-radius:2%;
  margin-top: 15px;
}

.card-title0:hover {
  text-align:center;
  color:white;
  border: solid black 3px;
  background:red;
} 

.card-title1 {
  text-align:center;
  color:white;
  border: solid black 3px;
  background:gray;
  border-radius:2%;
  margin-top: 15px;
}

.card-title1:hover {
  text-align:center;
  color:gray;
  border: solid black 3px;
  background:white;
  transform:scale(1.1);
}

.calendly-widget:hover {
  color:black:
}

/*---hobbies page images*/

.hobbies-img {
 max-width:250px;
}

.hobbies-img:hover {
 transform:scale(1.4);
    border: solid red 2px;
}

.table{
display:flex;
}

table, th, td {
  border: 1px solid black;
}
